body{
    background-image: url(https://wallpapercave.com/wp/wp2234539.jpg);
    background-size: 100%;

}
table,th,td{
    border: 5px solid black;
    border-collapse: collapse;
    padding: 10px;
}
th{
    background-color: aquamarine;
}